<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> 
        
<hibernate-configuration>
 <!--  <session-factory>
     <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    <property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
    <property name="connection.username">system</property>
    <property name="connection.password">sys</property>
 
     <property name="show_sql">true</property>
     <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
     <property name="hbm2ddl.auto">update</property>
     <property name="connection.pool_size">10</property>

    <mapping resource="com/mypractice/cfgs/Employee.hbm.xml"/>
  </session-factory>  -->
  
 <session-factory>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql:///test</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
     <property name="show_sql">true</property>
     <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
     <property name="hbm2ddl.auto">update</property>
     <property name="connection.pool_size">10</property>
    <mapping resource="com/mypractice/cfgs/Employee.hbm.xml"/>
        <mapping resource="com/mypractice/cfgs/NGOMember.hbm.xml"/>
    
  </session-factory>
 </hibernate-configuration>
